.container {
    box-shadow: 0 0 20px #666262;
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid rgb(109, 117, 119);
    color: white;
    border-radius: 5px;
    backdrop-filter: blur(3px);
}

.container__header {
    text-align: center;
    border-bottom: solid rgb(148, 147, 147) 1px;
    padding: 20px;
    font-weight: normal;
    margin: 0;
}

@media (max-width:757px) {
    .container {
        width: 100%;
    }
}